{% extends "layout.html" %}

{% block title %}
    CLT
{% endblock %}

{% block main %}
    <form action="/clt" method="post">
        <div class="mb-3">
            <label for="received">Date received:</label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="received" name="received" placeholder="Date received" type="date">
        </div>
        <div class="mb-3">
            <label for="prepared">Date prepared:</label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="prepared" name="prepared" placeholder="Date prepared" type="date">
        </div>
        <div class="mb-3">
            <label for="expired">Date expired:</label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="expired" name="expired" placeholder="Date expired" type="date">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="newlot" name="newlot" placeholder="New lot #" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="currentlot" name="currentlot" placeholder="Current lot #" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="reagent" name="reagent" placeholder="Reagent name" type="text">
        </div>
        <div class="mb-3">
            <select name="bench">
                <option disable selected>Bench</option>
                {% for bench in benches %}
                    <option>{{ bench }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Generate QC Task</button>
    </form>
{% endblock %}